    /*
    Flaticon icon font: Flaticon
    Creation date: 28/11/2019 07:48
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-light-bulb:before { content: "\f100"; }
.flaticon-tag:before { content: "\f101"; }
.flaticon-hammock-relaxing:before { content: "\f102"; }
.flaticon-quality:before { content: "\f103"; }
.flaticon-express-delivery:before { content: "\f104"; }
.flaticon-verification-of-delivery-list-clipboard-symbol:before { content: "\f105"; }
.flaticon-toilet:before { content: "\f106"; }
.flaticon-stage:before { content: "\f107"; }
.flaticon-carpet:before { content: "\f108"; }
.flaticon-left-arrow:before { content: "\f109"; }
.flaticon-menu-button-of-three-horizontal-lines:before { content: "\f10a"; }
.flaticon-spa:before { content: "\f10b"; }
.flaticon-hair-dryer:before { content: "\f10c"; }
.flaticon-minisplit:before { content: "\f10d"; }
.flaticon-tools-and-utensils:before { content: "\f10e"; }
.flaticon-wrench:before { content: "\f10f"; }
.flaticon-dumbbell:before { content: "\f110"; }
.flaticon-heartbeat:before { content: "\f111"; }
.flaticon-buddhist-yoga-pose:before { content: "\f112"; }
.flaticon-rounded-plug:before { content: "\f113"; }
.flaticon-faucet:before { content: "\f114"; }
.flaticon-caliper:before { content: "\f115"; }
.flaticon-nightstand:before { content: "\f116"; }
.flaticon-stuffit-x-archive:before { content: "\f117"; }
.flaticon-carpet-1:before { content: "\f118"; }
.flaticon-faucet-1:before { content: "\f119"; }
.flaticon-cleaning-products:before { content: "\f11a"; }
.flaticon-mop:before { content: "\f11b"; }
.flaticon-mop-1:before { content: "\f11c"; }
.flaticon-carpet-2:before { content: "\f11d"; }
.flaticon-kitchen:before { content: "\f11e"; }
.flaticon-car:before { content: "\f11f"; }
.flaticon-fridge:before { content: "\f120"; }
.flaticon-washing-machine:before { content: "\f121"; }
.flaticon-microwave-oven:before { content: "\f122"; }
.flaticon-water:before { content: "\f123"; }
.flaticon-relax:before { content: "\f124"; }
.flaticon-massage:before { content: "\f125"; }
.flaticon-hair-cut-tool:before { content: "\f126"; }
.flaticon-cosmetics:before { content: "\f127"; }
.flaticon-lotus-flower:before { content: "\f128"; }
.flaticon-nail-puller:before { content: "\f129"; }
.flaticon-patent:before { content: "\f12a"; }
.flaticon-sofa:before { content: "\f12b"; }
.flaticon-clean:before { content: "\f12c"; }
.flaticon-home:before { content: "\f12d"; }
.flaticon-house:before { content: "\f12e"; }
.flaticon-home-1:before { content: "\f12f"; }
.flaticon-restroom:before { content: "\f130"; }
.flaticon-sofa-1:before { content: "\f131"; }
.flaticon-kitchen-1:before { content: "\f132"; }
.flaticon-bedroom:before { content: "\f133"; }
.flaticon-window:before { content: "\f134"; }
.flaticon-floor:before { content: "\f135"; }
.flaticon-mattress:before { content: "\f136"; }
.flaticon-toy:before { content: "\f137"; }
.flaticon-cinema:before { content: "\f138"; }
.flaticon-van:before { content: "\f139"; }
.flaticon-carpet-3:before { content: "\f13a"; }
.flaticon-suit:before { content: "\f13b"; }
.flaticon-urban:before { content: "\f13c"; }
.flaticon-shop:before { content: "\f13d"; }
.flaticon-penthouse:before { content: "\f13e"; }
.flaticon-market:before { content: "\f13f"; }
.flaticon-wash:before { content: "\f140"; }
.flaticon-clean-1:before { content: "\f141"; }
    
    $font-Flaticon-light-bulb: "\f100";
    $font-Flaticon-tag: "\f101";
    $font-Flaticon-hammock-relaxing: "\f102";
    $font-Flaticon-quality: "\f103";
    $font-Flaticon-express-delivery: "\f104";
    $font-Flaticon-verification-of-delivery-list-clipboard-symbol: "\f105";
    $font-Flaticon-toilet: "\f106";
    $font-Flaticon-stage: "\f107";
    $font-Flaticon-carpet: "\f108";
    $font-Flaticon-left-arrow: "\f109";
    $font-Flaticon-menu-button-of-three-horizontal-lines: "\f10a";
    $font-Flaticon-spa: "\f10b";
    $font-Flaticon-hair-dryer: "\f10c";
    $font-Flaticon-minisplit: "\f10d";
    $font-Flaticon-tools-and-utensils: "\f10e";
    $font-Flaticon-wrench: "\f10f";
    $font-Flaticon-dumbbell: "\f110";
    $font-Flaticon-heartbeat: "\f111";
    $font-Flaticon-buddhist-yoga-pose: "\f112";
    $font-Flaticon-rounded-plug: "\f113";
    $font-Flaticon-faucet: "\f114";
    $font-Flaticon-caliper: "\f115";
    $font-Flaticon-nightstand: "\f116";
    $font-Flaticon-stuffit-x-archive: "\f117";
    $font-Flaticon-carpet-1: "\f118";
    $font-Flaticon-faucet-1: "\f119";
    $font-Flaticon-cleaning-products: "\f11a";
    $font-Flaticon-mop: "\f11b";
    $font-Flaticon-mop-1: "\f11c";
    $font-Flaticon-carpet-2: "\f11d";
    $font-Flaticon-kitchen: "\f11e";
    $font-Flaticon-car: "\f11f";
    $font-Flaticon-fridge: "\f120";
    $font-Flaticon-washing-machine: "\f121";
    $font-Flaticon-microwave-oven: "\f122";
    $font-Flaticon-water: "\f123";
    $font-Flaticon-relax: "\f124";
    $font-Flaticon-massage: "\f125";
    $font-Flaticon-hair-cut-tool: "\f126";
    $font-Flaticon-cosmetics: "\f127";
    $font-Flaticon-lotus-flower: "\f128";
    $font-Flaticon-nail-puller: "\f129";
    $font-Flaticon-patent: "\f12a";
    $font-Flaticon-sofa: "\f12b";
    $font-Flaticon-clean: "\f12c";
    $font-Flaticon-home: "\f12d";
    $font-Flaticon-house: "\f12e";
    $font-Flaticon-home-1: "\f12f";
    $font-Flaticon-restroom: "\f130";
    $font-Flaticon-sofa-1: "\f131";
    $font-Flaticon-kitchen-1: "\f132";
    $font-Flaticon-bedroom: "\f133";
    $font-Flaticon-window: "\f134";
    $font-Flaticon-floor: "\f135";
    $font-Flaticon-mattress: "\f136";
    $font-Flaticon-toy: "\f137";
    $font-Flaticon-cinema: "\f138";
    $font-Flaticon-van: "\f139";
    $font-Flaticon-carpet-3: "\f13a";
    $font-Flaticon-suit: "\f13b";
    $font-Flaticon-urban: "\f13c";
    $font-Flaticon-shop: "\f13d";
    $font-Flaticon-penthouse: "\f13e";
    $font-Flaticon-market: "\f13f";
    $font-Flaticon-wash: "\f140";
    $font-Flaticon-clean-1: "\f141";